{% extends 'base.html' %}

{% block titulo %}{{producto.id}}: {{producto.nombre}}{% endblock %}

{% block contenido %}
<table>
  <tr>
    <td> 
      <img src="{{ url_for('static', filename='fotos/')}}{{ producto.id }}.jpg" width="100" alt="Logo">
    </td>
    <td>
        <h2>{{ producto.categoria }}</h2>
        <h1>{{ producto.nombre }}</h1>
        <h2>{{ "{:,}".format(producto.precio) }}</h2>
        <p>{{ producto.descripcion }}</p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <a href="{{ url_for('ruta_raiz') }}"><button>Volver</button></a>
    </td>
  </tr>
</table>
{% endblock %}
